<div class="container-fluid">
    <div class="row">
        <div class="col-md-5  border">
            <app-car-details></app-car-details>
        </div>
        <div class="col-md-7 border p-2">
            <h1>Year-Selection</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fuga reiciendis asperiores suscipit est.
                Voluptas est assumenda delectus dolore excepturi accusantium, laudantium ea reiciendis. Provident sint
                optio voluptates in at doloribus beatae delectus! Iure, quae, quisquam quis commodi odit doloribus
                distinctio soluta molestiae iusto ipsa, fugit ullam deserunt nam quam.</p>
            <div class="p-2 m-1">
                <button type="button" class="btn btn-secondary" routerLink="/car-insurance/select-vehicle">Previous</button>
            </div>
        </div>
    </div>


</div>