<div class="container-fluid p-3 text-center shadow">
    <h6>All State</h6>
</div>
<div class="container-fluid category-section bg-img p-5">

    <div class="container w-75">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav cursor me-auto mb-2 mb-lg-0 w-100 border d-flex justify-content-between">
                        <li class="nav-item border rounded-circle m-2 text-center">
                            <a class="nav-link active" aria-current="page" routerLink="/car-insurance">
                                <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/car-side-view.svg" alt="" width="75"> <br>
                                Car</a>
                        </li>
                        <li class="nav-item border rounded-circle m-2 text-center">
                            <a class="nav-link" >
                                <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/motorcycle-side-view.svg" alt="" width="75"> <br> 
                                Bike</a>
                        </li>
                        <li class="nav-item border rounded-circle m-2 text-center">
                            <a class="nav-link active" aria-current="page" >
                                <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/health.svg" alt="" width="75"><br>
                                Health </a>
                        </li>
                        <li class="nav-item border rounded-circle m-2 text-center">
                            <a class="nav-link" >
                                <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/icons/travel-airplane.svg" alt="" width="75"><br>
                                Travel </a>
                        </li>
                        <li class="nav-item border rounded-circle m-2 text-center">
                            <a class="nav-link active" aria-current="page" >
                                <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/product-icons/home-image.svg" alt="" width="75"><br>
                                Home </a>
                        </li>
                        <li class="nav-item border rounded-circle m-2 text-center">
                            <a class="nav-link">
                                <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/product-icons/home-image.svg" alt="" width="75"><br>
                                Cyber </a>
                        </li>
                       
                    </ul>
                    
                </div>
            </div>
        </nav>
    </div>
</div>